<!DOCTYPE html>
<html>
<title>CTA TRACKER</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<style>
body{
      background-image: url("chicago.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: 100%;
    
    }
    b{
color: rgb(230, 215, 215);

}

    .header_text{
        font-size: larger;
  text-shadow: 1px 1px 1px rgb(129, 86, 86),
             2px 2px 1px rgba(40, 38, 42, 0.63);
  position: relative;
  top: 150px;
  left: 30%;
  color: rgb(0, 0, 0);
}

#header_text b {
  color: rgb(73, 51, 51);

}
.rectangle{
  position: static;
  height: 25%;
  width: 100%;
  bottom: 50px;
  background-color: rgba(5, 6, 7, 0.486);
}

.train_selection{
position: relative;
left: 45%;
bottom: -250px;

}
select{
    width: 150px;
    height: 160px;
}


</style>
<head>
    <div class="header_text" style="background-color: rgba(92, 44, 99, 0.233); width: 40%;">
        <h1>Start live <b >CTA </b> Tracking Right Here in Your Browser. <br>
            </h1>
      </div>
       <div class='rectangle'></div>
</head>
<body onload ="connect_send_recieve()">

    <div class="train_selection"> 
    <select class="select_css" id="train_list" multiple  name='cta_line' >
        <option value="red">RED</option>
        <option value="blue">BLUE</option>
        <option value="g">GREEN</option>
        <option value="y">YELLOW</option>
        <option value="p">PURPLE</option>
        <option value="org">ORANGE</option>
        <option value="pink">PINK</option>
        <option value="brn">BROWN</option>
        <option value="all">ALL</option>
    </select> 
</div>

<div class="add_line" style="position: relative; bottom: -90px; left: 35%;">
<input type="button" id="add_line"  value="ADD LINE">
</div>
<p style="font-size:xx-large; position: relative; left: 30%; top: -70px;">Lines selected: <span id = "list"> </span></p>

<div style="position: relative; font-size: x-large; left: 36%; bottom: -170px;">
Select Range (1-10) <input id="range" type="text"></input>
<input type="submit" id="submit_data"  value="Enter">

</div>
<hr style="position: relative; top: 125px;">
<hr style="position: relative; top: 160px;">

<!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
<pre id="FileContent"></pre>
<div id='mapid' style="width:100%; height: 900px; position: relative; bottom: -200px; "></div>

</body>
<script>
    var my_icon = L.icon({
        iconUrl: 'my_marker.jpg',

        iconSize: [38,95]
        
    })




var chicago_map = L.map('mapid').setView([41.8781, 87.6298], 10);
    var link = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: link,
    }).addTo(chicago_map);
var specific_lines =[]
var current_position, current_accuracy;
chicago_map.locate({setView: true, maxZoom: 10}).on('locationfound',function(e){
    var marker = L.marker([e.latitude, e.longitude]).addTo(chicago_map).bindPopup('YOU ARE HERE');
   
    chicago_map.addLayer(marker);
   
});

function connect_send_recieve() {
document.getElementById("add_line").onclick = function(){
        var list_index = document.getElementById("train_list").selectedIndex;
        var get_trainName = document.getElementById("train_list").options;
        train_line = get_trainName[list_index].value
       
        if (train_line == 'all'){
            specific_lines.push("red", "blue", "brn","g" ,"pink","org","p","y")
            console.log(specific_lines)
        }
        else{
        specific_lines.push(train_line)
        console.log(specific_lines)
        }
       


document.getElementById("list").innerHTML = specific_lines
}

document.getElementById("submit_data").onclick = function (){
    var number_of_trains=document.getElementById("range").value
    var socket = io.connect('http://127.0.0.1:5000/',{secure:true});
    socket.on('connect', function(){
    socket.emit('train_line', specific_lines,number_of_trains)}); //sending data to python

    socket.on('cord', function(lat,lon,lines){  //retrieving data from python (response)
    set_marker(lat, lon,lines)});     
}
}

function set_marker(lat,lon,lines) {
lati = parseFloat(lat)
longt = parseFloat(lon)
var any_train= L.marker([lati, longt]).addTo(chicago_map).bindPopup(lines).openPopup(false);
var tracking = L.layerGroup([any_train]).addTo(chicago_map);
 setTimeout(function(){
 tracking.clearLayers();
 
}, 3000)

}

</script>
</html>

<!-- <title>CTA TRACKER</title>
    <h1>LIVE CTA</h1>
    <h4>Train Selection</h4>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <select id="train_list" multiple  name='cta_line' >
            <option value="red">RED</option>
            <option value="blue">BLUE</option>
            <option value="g">GREEN</option>
            <option value="y">YELLOW</option>
            <option value="p">PURPLE</option>
            <option value="org">ORANGE</option>
            <option value="pink">PINK</option>
            <option value="brn">BROWN</option>
            <option value="all">ALL</option>
        </select> 
                <input type="button" id="add_line"  value="ADD LINE">
                <p>Lines selected: <span id = "list"> </span></p>
                Select Range (1-10) <input id="range" type="text"></input>
                <input type="submit" id="submit_data"  value="Enter">
                <hr>
                
                
                
                <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
                <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
                <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
                <body onload ="connect_send_recieve()">
                    <pre id="FileContent"></pre>
                    <div id='mapid' style="width: 500px; height: 500px"></div>
                </body>
                        </head>
                        <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
                        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


    <script>
        var my_icon = L.icon({
            iconUrl: 'my_marker.jpg',

            iconSize: [38,95]
            
        })




   var chicago_map = L.map('mapid').setView([41.8781, 87.6298], 10);
        var link = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: link,
        }).addTo(chicago_map);
    var specific_lines =[]
    var current_position, current_accuracy;
    chicago_map.locate({setView: true, maxZoom: 10}).on('locationfound',function(e){
        var marker = L.marker([e.latitude, e.longitude]).addTo(chicago_map).bindPopup('YOU ARE HERE');
       
        chicago_map.addLayer(marker);
       
    });
   
    function connect_send_recieve() {
document.getElementById("add_line").onclick = function(){
            var list_index = document.getElementById("train_list").selectedIndex;
            var get_trainName = document.getElementById("train_list").options;
            train_line = get_trainName[list_index].value
           
            if (train_line == 'all'){
                specific_lines.push("red", "blue", "brn","g" ,"pink","org","p","y")
                console.log(specific_lines)
            }
            else{
            specific_lines.push(train_line)
            console.log(specific_lines)
            }
           

    
    document.getElementById("list").innerHTML = specific_lines
}

document.getElementById("submit_data").onclick = function (){
        var number_of_trains=document.getElementById("range").value
        var socket = io.connect('http://127.0.0.1:5000/',{secure:true});
        socket.on('connect', function(){
        socket.emit('train_line', specific_lines,number_of_trains)}); //sending data to python

        socket.on('cord', function(lat,lon,lines){  //retrieving data from python (response)
        set_marker(lat, lon,lines)});     
}
    }
    
    function set_marker(lat,lon,lines) {
    lati = parseFloat(lat)
    longt = parseFloat(lon)
    var any_train= L.marker([lati, longt]).addTo(chicago_map).bindPopup(lines).openPopup(false);
    var tracking = L.layerGroup([any_train]).addTo(chicago_map);
     setTimeout(function(){
     tracking.clearLayers();
     
   }, 3000)
   
    }

    </script>
    -->
